<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/trigonometry">Trigonometry</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/linear-algebra">Linear Algebra</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/calculus-1">Calculus 1</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/calculus-2">Calculus 2</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/calculus-3">Calculus 3</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/differential-equations">Diff Eq</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/statistical-methods">Statistics</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/MathNotes/numerical-analysis">Numerical</a>