<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/basic-5v-circuits">BasicCircuits</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/led-demos">LED</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/matrix-keypad-theory">Matrix</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/oled-buzzer-theory">OLED</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/photoresistor-demos">Photoresistor</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/rgb-led-demos">RGBLED</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/rotary-encoder-demos">Rotary</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/seven-segment-dip">SevenDip</a>