<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/basic-5v-circuits" role="menuitem">BasicCircuits</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/led-demos" role="menuitem">LED</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/matrix-keypad-theory" role="menuitem">Matrix</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/oled-buzzer-theory" role="menuitem">OLED</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/photoresistor-demos" role="menuitem">Photoresistor</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/rgb-led-demos" role="menuitem">RGBLED</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/rotary-encoder-demos" role="menuitem">Rotary</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/seven-segment-dip" role="menuitem">SevenDip</a>