<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/cpp">C++</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/python">Python</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/javascript">JavaScript</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/fortran">Fortran</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/computational-physics">CompPhys</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/high-performance-computing">HPC</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/CompSciNotes/theory-logic-tools">Theory</a>