<div class="trigger-zone"></div> 

<nav class="peek-nav">
    {% assign landing = site.data.navigation | where: "name", "Landing" | first %}
    <h2><a href="{{ landing.link | relative_url }}">AURA-MF Menu</a></h2>
    <ul>
        <li><a href="#overview" class="active">Overview</a></li>
        <li><a href="#architecture">Architecture</a></li>
        <li><a href="#simulations">Simulations</a>
            <ul>
                {% assign research_links = site.data.navigation | where: "section", "research" %}
                {% for item in research_links %}
                    {% if item.name contains "Sim" %}
                        <li><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li><a href="#performance">Performance</a></li>
        <li><a href="#downloads">Downloads</a></li>
        
        {% assign dash = site.data.navigation | where: "name", "Dash" | first %}
        <li><a href="{{ dash.link | relative_url }}">{{ dash.name }}</a></li>
    </ul>
</nav>
