<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/background">Background</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/classical-mechanics">Classical</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/electricity-magnetism">E&M</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/optics">Optics</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/modern-physics">Modern</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/quantum-mechanics">Quantum</a>
<a class="side-nav__link" href="https://thmscmpg.github.io/PhysNotes/statistical-mechanics">Statistical</a>