<li><a class="side-nav__link" href="https://thmscmpg.github.io/AURA-MF/pages/simv1-gold-standard">SimV1</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/AURA-MF/pages/simv2-multifidelity">SimV2</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/AURA-MF/pages/simv3-bayesian">SimV3</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/AURA-MF/pages/simv4-ml-orchestrator">SimV4</a></li>
<!--    <li><a class="side-nav__link" href="https://thmscmpg.github.io/AURA-MF/pages/interactive/dashboard">Dashboard</a></li> -->