<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/basic-5v-circuits" >BasicCircuits</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/led-demos" >LED</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/matrix-keypad-theory" >Matrix</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/oled-buzzer-theory" >OLED</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/photoresistor-demos" >Photoresistor</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/rgb-led-demos" >RGBLED</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/rotary-encoder-demos" >Rotary</a></li>
<li><a class="side-nav__link" href="https://thmscmpg.github.io/CircuitNotes/seven-segment-dip" >SevenDip</a></li>